*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
header{
    display: flex;
    flex-wrap: wrap;
    height: 2%;
}
h1, h2, h5{
    color: #9cd9c9;
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.title{
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    width: 100%;
}
#best_movie_img{
    width:100%;
    height:auto;
}
button{
    background-repeat: center, no-repeat;
    width: 3%;
    height: 50px;
    border: none;
    transition: transform .2s;
    cursor: pointer;
}
button:hover{
    transform: scale(1.2);
}
#best_movie{
    display: flex;
    flex-wrap: wrap;
}
#best_movie_img{
    width: 40%;
}
#best_movie_infos{
    width: 45%;
}
.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.carousel_images{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel_square{
    width: 35%;
}
.movie_cover{
    transition: transform .2s;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
}
.movie_cover:hover{
    transform: scale(1.2);
}

#modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}
#modal_content{
    background-color: grey;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
#close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#close:hover,
#close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}